[tool.black]
line-length = 120
target-version = ["py39"]

[tool.isort]
profile = "black"
lines_after_imports = 2
line_length = 120

#[tool.pylint."MASTER"]
#load-plugins = "pylintfileheader"
#file-header = "(# Copyright \\(c\\) \\d{4} .*\\n)*# This software is distributed under the terms of the MIT license\\n# which is available at https://opensource.org/licenses/MIT\\n\\n"

[tool.pylint."MESSAGES CONTROL"]
disable = [
    "too-many-arguments",
    "too-many-lines",
    "line-too-long",  # checked by flake8
    "fixme",
    "bare-except",  # checked by flake8
    "too-many-locals",
    "too-many-branches",
]
